#fh5co-home .fh5co-copy-inner h1 {font-weight:bold}
#fh5co-home .fh5co-copy-inner {vertical-align:top ;padding-top: 20%;}

/* トップの画像 :::position: absolute;*/
.img--mockup {top: 15vw;height: auto;padding-top: 10%}
.img--mockup img{width:100%}
@media (min-width: 992px){.img--mockup{padding-top: 20%;}}

.js-fullheight-home .fh5co-copy{height: 40% !important;}
.js-fullheight-home .js-fullheight-home .fh5co-copy-inner{height: 100% !important;}

/* トップの高さ */
/* .fh5co-page .js-fullheight-home{height: 90vh;}
@media (min-width: 992px){.fh5co-page .js-fullheight-home{height:40vw}} */
/* トップの横幅 */
/* @media (min-width: 1200px){.js-fullheight-home .container{width: 90%;} } */

.fh5co-main-nav .fh5co-menu-1 a{padding:10px 0; align-items: center;    display: flex;}

/* 3つのポイントの挙動 */
.fh5co-tabs-container .fh5co-tabs li a {height: 50px; padding:10px 0;font-size: 16px}
#fh5co-about .fh5co-2col {float: left;}
.fh5co-tabs-container .fh5co-tabs li.active a {font-size: 20px;border-bottom: 5px solid #69c2c8;}
/* テキストblockの幅 */
#fh5co-about .fh5co-2col{width:100%}
@media screen and (max-width: 1200px){#fh5co-about .fh5co-2col-inner {width:100% }}
/* 説明文、画像の幅 */
.fh5co-tab-content{width:100%}
/* @media screen and (max-width: 768px){.fh5co-tab-content{width:100%}} */

.fh5co-grid-text{width:50%; float: left;}
@media screen and (max-width: 768px){.fh5co-grid-text{width:100%}}
.fh5co-grid-img{width:50%; display: inline-block; } 
/* float: left */
@media screen and (max-width: 768px){.fh5co-grid-img{width:100%}}
.fh5co-grid-img img {width:100%}

#fh5co-about .fh5co-2col-inner {width:100%}
/* @media screen and (max-width: 768px){ #fh5co-about .fh5co-2col-inner {padding:0}} */

/* @media (min-width: 1200px){#fh5co-about {width: 1170px; margin: auto;}} */

/* サンクスページ */
.site-contact-thanks {padding: 10vw 38px;width: 50%;text-align: center;}
@media (max-width: 991px){.site-contact-thanks {width: 100%;padding: 20vw 38px 10vw;text-align: center;}}
.site-contact-wrapper {display: flex;align-items: center;flex-wrap: wrap;}
.site-contact-description {padding: 70px 0 70px;}
@media (max-width: 991px){.site-contact-description {width: 100%; padding: 30px 0px 70px 0px;text-align: center;}}
.site-contact-bottom{margin-bottom: 150px;}
.contact-wrapper{min-height: 100vh;position: relative;padding-bottom: 150px;box-sizing: border-box;}
.contact-footer{width: 100%;position: absolute;}

.footer-text{text-align: center; margin: 0 auto;}

/* TOP画像のフォント */
#fh5co-home .fh5co-copy-inner h1 {font-size: 35px;}
/* グローバルナビの背景色 */
.fh5co-main-nav {background: black;}
/* グローバルナビ */
.fh5co-main-nav .fh5co-menu-1 {display: flex;}
.fh5co-main-nav .fh5co-menu-1 a {font-size: 16px;}
.fh5co-main-nav .fh5co-menu-1 .title-image {margin-right: auto}
.fh5co-main-nav .fh5co-menu-1 a.active {color: white;}
/* .fh5co-menu-1{float: right;} */
/* .fh5co-main-nav .fh5co-menu-1 a {float: right;}
.fh5co-main-nav .fh5co-menu-1 a.active {float:left} */
/* 
.index1{z-index: 1}
.index2{z-index: 2}
#fh5co-home .fh5co-copy-inner h2 {margin-right: -300px;} */

/* 背景色 */
#fh5co-about{background: #000000;}