#fh5co-home .fh5co-copy-inner h1 {font-weight:bold}
#fh5co-home .fh5co-copy-inner {vertical-align:top ;padding-top: 20%;}

/* トップの画像 :::position: absolute;*/
.img--mockup {top: 15vw;height: auto;padding-top: 10%}
.img--mockup img{width:100%}
@media (min-width: 992px){.img--mockup{padding-top: 40%;}}

.js-fullheight-home .fh5co-copy{height: 40% !important;}
.js-fullheight-home .js-fullheight-home .fh5co-copy-inner{height: 100% !important;}

/* トップの高さ */
/* .fh5co-page .js-fullheight-home{height: 90vh;}
@media (min-width: 992px){.fh5co-page .js-fullheight-home{height:40vw}} */
/* トップの横幅 */
/* @media (min-width: 1200px){.js-fullheight-home .container{width: 90%;} } */

.fh5co-main-nav .fh5co-menu-1 a{padding:15px 0}

/* 3つのポイントの挙動 */
.fh5co-tabs-container .fh5co-tabs li a {height: 50px; padding:10px 0;font-size: 16px}
#fh5co-about .fh5co-2col {float: left;}
.fh5co-tabs-container .fh5co-tabs li.active a {font-size: 20px;border-bottom: 5px solid #69c2c8;}
/* テキストblockの幅 */
#fh5co-about .fh5co-2col{width:100%}
@media screen and (max-width: 1200px){#fh5co-about .fh5co-2col-inner {width:100% }}
/* 説明文、画像の幅 */
.fh5co-tab-content{width:100%}
/* @media screen and (max-width: 768px){.fh5co-tab-content{width:100%}} */

.fh5co-grid-text{width:50%; float: left;}
@media screen and (max-width: 768px){.fh5co-grid-text{width:100%}}
.fh5co-grid-img{width:50%; display: inline-block; } 
/* float: left */
@media screen and (max-width: 768px){.fh5co-grid-img{width:100%}}
.fh5co-grid-img img {width:100%}

#fh5co-about .fh5co-2col-inner {width:100%}
/* @media screen and (max-width: 768px){ #fh5co-about .fh5co-2col-inner {padding:0}} */

/* @media (min-width: 1200px){#fh5co-about {width: 1170px; margin: auto;}} */
