<section class="site-about-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-about-wrapper">
                    <div class="site-contact-thanks">
                        <h2>Thank you</h2>
                    </div>
                <div class="site-contact-description">
                    <p>お問い合わせを受け付けました。</p>
                    <p>ありがとうございます。</p>
                    <p>担当者よりご連絡致します。</p>
                </div>
            </div>
        </div>
    </div>
</section>